{% extends 'base.html' %}
{% block title %}
    Scrumptious Recipes
{% endblock title %}

{% block content %}
    <header>
        <nav>
            <a class="nav-buttons" href="{% url 'recipe_list' %}">Main Page</a>
        </nav>




    </header>
    <main>
        <h1 class="link-color">
            {{ recipe_object.title }}
        </h1>

        <img src="{{ recipe_object.picture }}" alt="Vegetarian Tacos" />

        <div class="padding">
            4.3 Stars
        </div>

        <p>{{ recipe_object.description }}</p>

        <h2>
            Ingredients
        </h2>
        <table>
            <thead>
                <tr>
                    <th>Amount</th>
                    <th>Food Item</th>
                </tr>
            </thead>
            <tbody>
                {% for ingredient in recipe_object.ingredients.all %}
                <tr>
                    <td>{{ ingredient.amount }}</td>
                    <td>{{ ingredient.food_item }}</td>

                </tr>
                {% endfor %}
            </tbody>
        </table>

        <h2>
            Steps
        </h2>
        <ol>
            {% for step in recipe_object.steps.all %}
                <li>{{ step.instruction }}</li>
            {% endfor %}
        </ol>


        <a class="edit-button" href="{% url 'edit_recipe' recipe_object.id %}">Edit Recipe</a>


    </main>
{% endblock content %}
