{% extends 'base.html' %}
{% block title %}
    Scrumptious Recipes
{% endblock title %}

{% block content %}
    <header>
        <nav>
            <a class="nav-buttons" href="{% url 'recipe_list' %}">Main Page</a>
        </nav>

    </header>
    <main>

        <form method="post">
            {% csrf_token %}
            {{ recipe_form.as_p }}
            <button>Edit</button>
        </form>

    </main>
{% endblock content %}
{% load static %}
