{% extends 'base.html' %}
{% block title %}
    Scrumptious Recipes
{% endblock title %}

{% block content %}
    <header>
        <nav class="nav-grid">

            <div>
                <a class="nav-buttons" href="{% url 'recipe_list' %}">Main Page</a>
            </div>

            {% if user.is_authenticated %}
                <div>
                    <a class="nav-buttons" href="{% url 'create_recipe' %}">Create A Recipe</a>
                </div>
                <div>
                    <a class="nav-buttons" href="{% url 'my_recipe_list' %}">My Recipes</a>
                </div>
                <div>
                    <a class="nav-buttons" href="{% url 'user_logout' %}">Logout</a>
                </div>
                <div class="bold user-end">
                    Hello, {{ user.username }}
                </div>
            {% else %}
                <div>
                    <a class="nav-buttons" href="{% url 'signup' %}">Sign Up</a>
                </div>
                <div>
                    <a class="nav-buttons" href="{% url 'user_login' %}">Login</a>
                </div>
            {% endif %}


        </nav>

    </header>
    <main>
        <h1 class="recipe-links" >Scrumptious Recipes</h1>
        <h2>All the food that's fit to eat</h2>


        <div class="grid-layout">
            {% for recipe in recipe_list %}
            <div class="center">
                <h2><a class="recipe-links" href="{% url 'show_recipe' recipe.id %}">{{ recipe.title }}</a></h2>
                <p>{{ recipe.created_on|date:"j F Y" }}</p>
                <img src="{{ recipe.picture }}">
                <div class="padding">4.3 Stars</div>
            </div>
            {% empty %}
                <p>There are no recipes.</p>
            {% endfor %}
        </div>

    </main>
{% endblock content %}
