.recipe-links {
    color: #46750e;
    text-decoration: none;
}


body {
    margin: 0;
    padding: 0;
    background-color: blanchedalmond;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
footer{
    margin-top: auto;
} */

main {
    padding: 16px;
}

footer {
    margin: 24px 10px 24px 10px;
    margin-top: auto;
    /* background-color: #8bce31; */
    background-image: linear-gradient(177deg, #7cc84d, transparent);
    border-radius: 10px;
    border-style: solid;
    border-width: medium;
    border-color: gainsboro;
    padding: 2em;
    font-size: 135%;
    bottom: 0;
    overflow: visible;
    font-family: cursive;
    font-weight: bolder;
}

img {
    height: 200px;
    width: 150px;
    box-shadow: 0 4px 6px 0 black;
    transition: 0.3s;
}

nav {
    border-bottom: 1px;
    border-bottom: solid black;
    padding: 16px;
    background-color: #ee6611;
}

.bold {
    font-weight: bold;
}

.nav-buttons {
    color: white;
    text-decoration: none;
}

.grid-layout {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-evenly;
    grid-template-rows: repeat(2, 1fr);
}


tr:nth-child(even) {
    background-color: rgb(192, 189, 189);
}

a:hover {
    color: red;
}

.nav-grid {
    /* display: grid;
    grid-template-columns: repeat(8, 1fr);
    padding: 15px; */

    display: flex;
    flex-direction: row;
    gap: 25px;
    flex-wrap: wrap;

}


.edit-button {
    color: red;
}

.center {
    display: grid;
    justify-content: center;
    align-items: center;
}


.padding {
    padding: 10px;
}


img:hover {
    transform: scale(1.05);
}


.user-end {
    position: absolute;
    right: 0;
    margin: 0px 30px;
}
